@import url('https://fonts.googleapis.com/css?family=Montserrat&display=swap');

.chat-container {
    display: flex;
    height: 100vh;
    flex-direction: column;
    font-family: 'Montserrat', sans-serif;
}