@import "../../Stylesheets/shared.scss";

@import url('https://fonts.googleapis.com/css?family=Poppins&display=swap&text=0123456789');

.chat-widget {
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    @include widget-part;

    &.left {
        left: $side-margin;
    }

    &.right {
        right: $side-margin;
    }

    &:hover {
        cursor: pointer;
    }

    .chat-widget-notification {
        box-shadow: $shadow;
        border-radius: 50%;
        line-height: 18px;
        font-size: 14px;
        width: 18px;
        height: 18px;
        position: absolute;
        text-align: center;
        bottom: 0;
        right: 0;
        font-family: 'Poppins', sans-serif;
    }
}