@import "../../Stylesheets/shared.scss";

.chat-widget {
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    @include widget-part;

    &.left {
        left: $side-margin;
    }

    &.right {
        right: $side-margin;
    }

    &:hover {
        cursor: pointer;
    }
}