.text {
    max-width: 85%;
    border-radius: 16px;
    margin: 6px 0px;
    padding: 14px;
    width: fit-content;
    box-sizing: border-box;
    
    &.left {
        background: rgb(238, 238, 238);
        color: black;
        align-self: flex-start;
    }

    &.right {
        align-self: flex-end;
    }
}