$side-margin: 25px;
$shadow: -3px 3px 10px -5px black;

.dn {
    display: none;
}

@mixin widget-part {
    box-shadow: $shadow;
    bottom: $side-margin;
    z-index: 9999999;
    position: fixed;

    &.animated {
        animation-duration: 0.5s;
        animation-fill-mode: forwards;

        &.hide {
            animation-name: widget-slide-out;
        }

        &:not(.hide) {
            animation-name: widget-slide-in;
        }
    }
}

@keyframes widget-slide-in {
    from {
        display: block;
        opacity: 0;
        transform: translate(0, 100px);
    }

    to {
        opacity: 1;
        transform: translate(0, 0);
    }
}

@keyframes widget-slide-out {
    from {
        opacity: 1;
        transform: translate(0, 0);
    }

    to {
        visibility: hidden;
        opacity: 0;
        transform: translate(0, 100px);
    }
}