@import '../../Stylesheets/variables.scss';
@import '../../Stylesheets/shared.scss';

.chat-input {
    @include containered;
    display: flex;
    flex: 2;
    background-color: #EBECF3;
    align-items: center;
    
    @media screen and (max-width: $small-break) {
        flex: 1;
    }

    .flat-btn {
        height: 50%;
        border: 0;
        color: white;
        flex: 2;
        border-radius: 100px;
        font-size: 1em;
        cursor: pointer;
        min-width: 100px;

        @media screen and (max-width: $small-break) {
            min-width: 70px;
            height: 70%;
        }
    }

    .flat-input {
        height: 100%;
        border: 0;
        background-color: transparent;
        flex: 10;
        padding-right: 5%;
        color: #2E2D33;
        font-size: 1.3em;
        box-sizing: border-box;

        &:focus {
            outline: 0;
        }

        @media screen and (max-width: $small-break) {
            font-size: 1em;
        }
    }
}